<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div class="pane">
            <h1 class="header"> Edit Menu Item <br> {{item.name}}</h1>

            <form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menuitem_id=item.id )}}" method = 'POST'>
                <p>Name:</p>
                <input type='text' size='30' name='name' placeholder="{{item.name}}">
                <p>Description:</p>
                <textarea name='description' rows="4" cols="50">{{item.description}}</textarea>
                <p>Price:</p>
                <input type='text' size='30' name='price' placeholder="{{item.price}}">

                <p>Course:</p>
                <select name="course" id="">
                    <option value="Dessert">Dessert</option>
                    <option value="Entree" >Entree</option>
                    <option value="Beverage">Beverage</option>
                    <option value="Appetizer">Appetizer</option>
                </select><br><br>
                <div>
                    <input type='submit' value='Update'> <a href="{{url_for('restaurantMenu', restaurant_id=restaurant_id)}}">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </body>
</html>
