<html>
	<head>
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
	</head>
	<body>
		<div class="pane">
			<h1 class="header">{{restaurant.name}}</h1>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul class="flash">
						{% for message in messages %}
					  		<li><strong>{{message}}</strong></li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}

			<div class="Navigation">
				<a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}">New menu item</a><br>
				<a href="{{url_for('restaurantList')}}">Back to Restaurants</a>
			</div>
			<div class="List">
				{% for i in items %}
				<div>
					<div class="NamePrice">
						<h3 class="NamePrice-name">{{i.name}}</h3>
						<h3 class="NamePrice-price"> {{i.price}} </h3>
					</div>
					<p class="description">{{i.description}}</p>
					<p>
						<a href="{{url_for('editMenuItem', restaurant_id=restaurant.id , menuitem_id=i.id )}}">Edit</a>
						<a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id , menuitem_id=i.id )}}">Delete</a>
					</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
