{% extends "main.html" %}
{% block content %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-info" role="alert">
		  			<strong>{{message}}</strong>
		  		</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<div class="pane">
		{% include "creatorRibbon.html" %}
		<h1 class="header">{{restaurant.name}}</h1>

		{% macro show_item(item) -%}
			<div>
				<div class="NamePrice">
					<h3 class="NamePrice-name">{{item.name}}</h3>
					<h3 class="NamePrice-price"> {{item.price}} </h3>
				</div>
				<p class="description">{{item.description}}</p>
			</div>
		{%- endmacro %}

		{% macro show_no_items()%}
			<p>
				Unbelievable. No entries here so far.
			</p>
		{%- endmacro %}

		<h2>Appetizers</h2>
		<div class="List">
			{% for item in appetizers %}
			    {{ show_item(item) }}
			{% else %}
				{{ show_no_items() }}
			{% endfor %}
		</div>

 		<h2>Main Dishes</h2>
		<div class="List">
			{% for item in main_dishes %}
			    {{ show_item(item) }}
			{% else %}
				{{ show_no_items() }}
			{% endfor %}
		</div>

		<h2>Desserts</h2>
		<div class="List">
			{% for item in desserts %}
			    {{ show_item(item) }}
			{% else %}
				{{ show_no_items() }}
			{% endfor %}
		</div>

		<h2>Beverages</h2>
		<div class="List">
			{% for item in beverages %}
			    {{ show_item(item) }}
			{% else %}
				{{ show_no_items() }}
			{% endfor %}
		</div>

	</div>
{% endblock %}
