
/* General */
body {

  background-color: rgb(245, 238, 223);
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  color: #222;
}

h1, h2 , h3{
  margin: 0;
  font-family: 'Poiret One';
}

h1{
  margin-bottom: 20px;
  font-weight: bold;
}

h2{
  font-size: 2.2em;
  border: solid 1px #222;
  border-right-width: 0px;
  border-left-width: 0px;
  text-transform: uppercase;
  margin-top: 40px;
  font-weight: bold;
}

p, dd, dt{
  color: #222;
}

a {
}

.top-menu {
  background-color: rgba(68, 68, 68, .17);
  margin-bottom: 40px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  line-height: 44px;
}

.top-menu a:link, .top-menu a:visited{
  color: #222;
}

.top-menu__user-picture {
  width:30px;
  border-radius: 50%;
}

.pane {
  border: 3px solid;
  border-radius: 15px;
  border-style: double;
  padding: 30px;
  max-width: 680px;
  margin: auto;
  border-color: #222;
  background-color: rgb(245, 238, 223);
  margin-bottom: 40px;
}

.header{
  text-align: center;
}

/* Restaurants List*/

.Restaurants {
  margin-top: 20px;
}

.Restaurants-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 0px;
}

.Restaurants-itemName {
    margin:0;
}

.Restaurants-itemLinks {
  margin: 0;
  padding: 0;
}

/* RestaurantMenu */

.navigation {
  margin-bottom: 20px;
  text-align: center;
}

.List {
  margin-top: 20px;
}

/* Menu Item */

.Item-imageInfo {
  display: flex;
  margin-bottom: 10px;
}

.Item-imageInfo:last-child {
  margin-bottom: 0px;
}

.Item-image {
  flex-grow: 0;
  margin-right: 20px;
}

.Item-info {
  flex-grow: 1;
}

.Item-namePrice {
  display: flex;
  justify-content: space-between;
}
.Item-namePrice-name, .Item-namePrice-price {
  margin-bottom: 0px;
}

.Item-namePrice-description {
  margin-top: 5px;
}

/* */

.flash {
  list-style-type: none;
}

/*  edit */
.editdeletepane{}

/* Alert */
.alert-adjust{
  max-width: 680px;
  border-style: double;
  border-width: 3px;
  margin: 0 auto 20px auto;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.glyphicon {
  line-height: auto;
}

/* Login */

#result {
  text-align: center;
}

/* Creator ribbon */

.creator-ribbon {
  background-color: rgb(233,177,167);
  position: relative;
  height: 28px;
  margin: 12px 25% 20px 25%;
}

.creator-ribbon__image {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  border: solid 7px rgb(233,177,167);
  border-radius: 50%;
  width: 60px;
  heigth: 60px;
}

