{% extends "main.html" %}
{% block content %}
	<div class="pane">
		<h1 class="header"> Are you sure you want to delete {{item.name}}? </h1>

		<form action="{{ url_for('deleteMenuItem',restaurant_id = item.restaurant_id, menuitem_id=item.id)}}" method = 'post'>
            <button type="submit" class="btn btn-info">Delete</button>
			<a
				href="{{url_for('restaurantMenu', restaurant_id=item.restaurant_id)}}"
				class="btn btn-default btn"
				role="button"
			>Cancel</a>

		</form>
	</div>
{% endblock %}

