{% extends "main.html" %}
{% block content %}
    <div class="pane">
        <h1 class="header"> Edit restaurant <br> {{restaurant.name}}</h1>

        <form action="{{url_for('restaurantUpdate', restaurant_id=restaurant.id)}}" method = 'POST'>

            <fieldset class="form-group">
                <label for="course">Name:</label>
                <input type='text' class="form-control" size='30' name='name' value="{{restaurant.name}}" placeholder="{{restaurant.name}}">
            </fieldset>

            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

            <button type='submit' class="btn btn-info" >Update</button>

            <a href="{{url_for('restaurantList')}}" class="btn btn-default btn" role="button">
                Cancel
            </a>
            </div>
        </form>
    </div>
{% endblock %}

