{% extends "main.html" %}
{% block content %}
    <div class="pane">
        <h1> New Menu Item for {{restaurant.name}}</h1>

        <form
            action="{{url_for('newMenuItem', restaurant_id=restaurant.id )}}"
            method="POST"
            enctype="multipart/form-data"
        >

            <fieldset class="form-group">
                <label for="course">Course:</label>
                <select class="form-control" name="course" id="course" style="width:auto;">
                    {% for course_item in courses %}
                        <option value="{{course_item}}">{{course_item}}</option>
                    {% endfor %}
                </select>
            </fieldset>

            <fieldset class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" type='text' size='30' name='name'>
            </fieldset>

            <fieldset class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" name='description' id='description'></textarea>
            </fieldset>

            <fieldset class="form-group">
                <label for="image">Image</label>
                <input type="file" name="image" id="image">
            </fieldset>

            <fieldset class="form-group">
                <label for="price">Price:</label>
                <input value="$" placeholder="$" style="width:auto;" type="text" class="form-control" id="name" type='text' size='10' maxlength="10" name='price'>
            </fieldset>

            <button type="submit" class="btn btn-info">Create Menu Item</button>

            <a href="{{url_for('restaurantMenu', restaurant_id=restaurant.id )}}" class="btn btn-default btn" role="button">Cancel</a>

        </form>
    </div>
{% endblock %}
