{% extends "main.html" %}
{% block content %}
	<div class="pane">
		<h1> New Restaurant</h1>

		<form action="{{url_for('restaurantCreate')}}" method = 'POST'>

            <fieldset class="form-group">
                <label for="course">Name:</label>
				<input type='text' class="form-control" size="30" name="name" id="name">
			</fieldset>

			<input name=_csrf_token type=hidden value="{{ csrf_token() }}">

			<button type="submit" class="btn btn-info">Create</button>

			<a href="{{url_for('restaurantList')}}" class="btn btn-default btn" role="button">Cancel</a>

		</form>
	</div>
{% endblock %}
