{% extends "main.html" %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}

	{% include "flash.html" %}

	<div class="pane">

		{% include "creator-ribbon.html" %}
		<h1 class="header">{{restaurant.name}}</h1>

		{% macro show_item(item) -%}
			<div class="Item-imageInfo">
				{% if item.image %}
				<div class="Item-image">
					<img src="http://localhost:5000/uploads/{{item.image}}" width="160" height="100">
				</div>
				{% endif %}
				<div class="Item-info">
					<div class="Item-namePrice">
						<h3 class="Item-namePrice-name">{{item.name}}</h3>
						<h3 class="Item-namePrice-price"> {{item.price}} </h3>
					</div>
					<p class="Item--namePrice-description">{{item.description}}</p>
					{% if isCreator %}
					<p>
						<a href="{{url_for('editMenuItem', restaurant_id=restaurant.id , menuitem_id=item.id )}}" class="btn btn-default btn-xs" role="button" >Edit</a>
						<a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id , menuitem_id=item.id )}}" class="btn btn-default btn-xs" role="button" >Delete</a>
					</p>
					{% endif %}
				</div>
			</div>
		{%- endmacro %}

		{% macro show_no_items()%}
			<p>
				Unbelievable. No entries here so far.
				{% if isCreator %}
					<a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}" >Why don't you create one?</a>
				{% endif %}
			</p>
		{%- endmacro %}

		<h2>Appetizers</h2>
		<div class="List">
			{% for item in appetizers %}
			    {{ show_item(item) }}
			{% else %}
				{{ show_no_items() }}
			{% endfor %}
		</div>

 		<h2>Main Dishes</h2>
		<div class="List">
			{% for item in main_dishes %}
			    {{ show_item(item) }}
			{% else %}
				{{ show_no_items() }}
			{% endfor %}
		</div>

		<h2>Desserts</h2>
		<div class="List">
			{% for item in desserts %}
			    {{ show_item(item) }}
			{% else %}
				{{ show_no_items() }}
			{% endfor %}
		</div>

		<h2>Beverages</h2>
		<div class="List">
			{% for item in beverages %}
			    {{ show_item(item) }}
			{% else %}
				{{ show_no_items() }}
			{% endfor %}
		</div>

	</div>
	{% if isCreator %}
	<div class="navigation">
		<a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}" class="btn btn-default btn-sm" role="button">
		  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
		New menu item</a>
	</div>
	{% endif %}
{% endblock %}
